{% extends "base.html" %}

{% block title %}HR Dashboard{% endblock %}

{% block content %}
<div class="dashboard-header">
    <h1 class="h2">Documents</h1>
</div>

<div class="dashboard-grid">

    <!-- Dcoument Card -->
    <div class="dashboard-card">
        <div class="card-icon">
            <i class="bi bi-person-plus"></i>
        </div>
        <div class="card-content">
            <h3>Document</h3>
            <p>Manage recruitment process and interviews.</p>
            <div class="card-stats">
                <div class="stat">
                    <span class="stat-value">{{ total_documents }}</span>
                    <span class="stat-label">Documents</span>
                </div>
            </div>
            <a href="{% url 'document_list' %}" class="card-action">Go to Documents</a>
        </div>

    </div>


    <!-- Document Group Card -->
    <div class="dashboard-card">
        <div class="card-icon">
            <i class="bi bi-trophy"></i>
        </div>
        <div class="card-content">
            <h3>Document Group</h3>
            <p>Track employee skills and goal progress.</p>
            <div class="card-stats">
                <div class="stat">
                    <span class="stat-value">{{ total_groups }}</span>
                    <span class="stat-label">Groups</span>
                </div>
            </div>
            <a href="{% url 'groups' %}" class="card-action">Go to Goals</a>
        </div>
    </div>

</div>
{% endblock %}
